
<style type="text/css"> 
/* mac hide \*/
html, body {
	height:100%;
	padding:0;
	margin:0;
}
/* end hide*/
body {
	background:#CCCCCC;
	color: #000000;
}
#outer {
	min-height:100%;/*for mozilla as IE treats height as min-height anyway*/
	margin-left:175px;
	background:#ffffff;
	border-left:1px solid #000;
	border-right:1px solid #000;
	margin-bottom:-52px;
	color: #000000;
}
* html #outer {
	height:100%;
}
#header {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100px;
	background: #500000;
	border-top:5px solid #000000;
	border-bottom:5px solid #000000;
	overflow:hidden;
	color: #500000;
}
#left {
	position:relative;/*ie needs this to show float */
	width:170px;
	float:left;
	margin-left:-160px;/*must be 1px less than width otherwise won't push footer down */
	left:-10px;/* line things up exactly*/
	padding:36px 0 0;
}
* html #left {
	margin-right:-3px
}/* three pixel jog*/
#left p {
	padding-left:3px;
	padding-right:10px
	
}
#footer {
	
    width:100%;
	clear:both;
	height:115px;
	border-top:1px solid #000;
    padding-left:50px;
	border-bottom:1px solid #000;
	background: #332C2C;
	color: #FFFFFF;
	text-align:center;
	position:relative;
	margin-top:-52px;
	font-size: 11px;
}
* html #footer {/*only ie gets this style*/
	height:52px;/* for ie5 */
	height:50px;/* for ie6 */
}
#clearfooter {
	clear:both;
	height:52px;
}/*needed to make room for footer*/
#centrecontent {
	float:right;
	width:97%;
	margin:0 0 0 -10px;
	position:relative;
	z-index:1;
	padding:102px 0 0;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
#outer:after {
	clear:both;
	display:block;
	height:1%;
	content:" ";
}

</style>